*{
    margin: 0;
padding: 0;
}
h1{
    margin-left: 535px;
    margin-top: 15px;
    position: absolute;
    font-size: xxx-large;
    color: #D8CFD0;
    background-color: #697184;
    border-radius: 2px solid black;
    border-radius: 12px;
}
h1:hover{
    transform: scale(1.3);
    transition: .4s;
}
.main{

background: url(2.jpeg);
background-repeat: no-repeat;
background-size: cover;   
height: 757px;


}
.side-l {
    position: relative;
   
    display: inline-block;
    padding: 5px;
    height: 747px;
    width: 150px; 

}

.side-l h2{
    position: relative;
    margin: 5px 0 0 40px;
   background-color: #697184;
   padding: 47px;
   box-sizing: border-box;
   height: 130px;
   width: 130px;
   color: #D8CFD0;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h2:hover{
    transform: scale(1.1);
    transition: .4s;
}
 .l-content {
    
    height: 100px;
    width: 100px;
    
    position: relative;
    
    
    
}
.side-l .l-content{
    margin:40px;
}

.l-content:hover{
    transform: scale(1.1);
    transition: .4s;
}
.l-content h3{
    
    color: #D8CFD0;
    margin-top: 60px;
    
}


img{
    height: 130px;
    width: 130px;    
    }
.r-text{
    float: right;
    color: #D8CFD0;
    font-size: xx-large;
    margin-top: 20%;
    margin-right: 20px;
    background-color: #697184;
    display: block;
    

}

.r-text:hover{
    transform: scale(1.1);
    transition: .4s;
}
.r-b-img{
    display: inline;
    position: relative;
    float: right;
    margin-top: 610px;
    margin-right: -310px;

}
